body {
    font-size:120%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 15px;
    background: black;
}

div.wrap {
    background-color: white;
    padding: 5px;
    border-radius: 20px;
}

a:link {text-decoration: none}

img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
    border: 0;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}


blockquote p {
  display: inline;
}

div.pre {background:#eeffaa;
         font-family:Courier;
         white-space:pre-wrap;
	 
	 padding:10px;
         }

div.erlang {margin-left:3em; margin-right:3em;
            background:#fae1ab;
            border:1px dashed blue; 
            font-family:Courier;
            font-weight:bold;
            white-space:pre;
            padding:10px;
         }
span.b {font-family:monospace: font-weight:bolder}
span.ws {font-weight:bolder}
span.atom {color:red}
span.i {font-style:italic}
span.emph {background: yellow}
span.s {text-decoration: line-through}
span.y {background: yellow}
span.code {background-color:#f7f7f7; color:#d14}

span.high {background: yellow}

span.hash { background:orange}
span.name { background:#d6d6ff}

div.leftColumn >  li {
    list-style-type: disc;
    list-style-position: inside;
    padding: 0px 0 10px 20px;
    text-indent: -1em;
    
}


