---
layout: default
---

<div id="title">
  <h1>{{ page.title }}</h1>
  <span class="meta">{{ page.date | date_to_string}}</span>
 

<div id="content">
{{ content }}
</div>

<div id="tags">
Tagged:
  {% for tag in page.tags %}
  <a href="/blog/tag/{{tag}}">{{tag}}</a> &nbsp;
  {% endfor %}
</div>
<p></p>
<hr />

<!-- the tweet button -->
   <p>
     <a href="https://twitter.com/share"  class="twitter-share-button" 
	data-url="http://joearms.github.com{{page.url}}">Tweet</a>
   </p>
   <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<!-- end of tweet button -->

<p>Comments:</p>

<div id="disqus">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    // var disqus_developer = 1;
    var disqus_shortname = 'joearmstrongsblog';
    var disqus_identifier = '{{ page.id }}';
    var disqus_url = 'http://joearms.github.com{{ page.url }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
</div>

<noscript>Please enable JavaScript to view
the <a href="http://disqus.com/?ref_noscript">comments powered by
Disqus.</a></noscript>
